server:
  shutdown: graceful
  error:
    whitelabel:
      enabled: false

spring:
  application:
    name: digafmedia
  mvc.throw-exception-if-no-handler-found: true
  web.resources.add-mappings: false
  #==== connect to mysql ======#
  jpa:
    database: mysql
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: false
    show-sql: false
    open-in-view: false
  datasource:
    url: jdbc:mysql://localhost:3306/digafmedia
    username: root
    password: password
    hikari:
      auto-commit: false

  liquibase:
    enabled: true
    change-log: classpath:db/master.xml
